[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
EnvironmentFile=-/etc/default/{{ openstax_wsgi_role.application_name }}
PIDFile=/run/gunicorn/{{ openstax_wsgi_role.application_name }}-pid
User={{ openstax_wsgi_role.user }}
Group={{ openstax_wsgi_role.group }}
RuntimeDirectory=gunicorn
WorkingDirectory={{ openstax_wsgi_role.application_dir }}
ExecStart={{ openstax_wsgi_role.virtualenv_bin_dir }}/gunicorn $DAEMON_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
