[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/tmp/{{ openstax_wsgi_role.application_name }}-websocket.sock

[Install]
WantedBy=sockets.target
