[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/tmp/gunicorn-{{ openstax_wsgi_role.application_name }}.sock

[Install]
WantedBy=sockets.target
